body{
margin:0;
font-family:Segoe UI;
background:#f9f9f9;
}



.header{
display:flex;
justify-content:space-between;
align-items:center;
padding:20px 80px;
background:white;
position:sticky;
top:0;
}



.logo img{
height:40px;
}



.nav a{
margin-left:30px;
text-decoration:none;
color:#333;
font-weight:500;
transition:0.3s;
}

.nav a:hover{
color:#6c63ff;
}



.hero{
display:flex;
align-items:center;
justify-content:space-between;
padding:80px;
}



.hero-left{
max-width:600px;
}



.hero-left h1{
font-size:55px;
}



.wave{
animation:wave 1s infinite;
display:inline-block;
}

@keyframes wave{
0%{transform:rotate(0deg);}
50%{transform:rotate(20deg);}
100%{transform:rotate(0deg);}
}



.hero-left p{
font-size:20px;
color:#666;
line-height:1.6;
}



.hero-right img{
width:600px;
}



.social-icons img{
width:45px;
margin-right:15px;
margin-top:20px;
cursor:pointer;
transition:0.3s;
}

.social-icons img:hover{
transform:scale(1.2);
}



.hero-buttons{
margin-top:30px;
}



.primary-btn{
background:#6c63ff;
color:white;
padding:15px 30px;
border:none;
margin-right:15px;
cursor:pointer;
font-size:16px;
border-radius:6px;
}



.secondary-btn{
background:#6c63ff;
color:white;
padding:15px 30px;
border:none;
cursor:pointer;
font-size:16px;
border-radius:6px;
}



.section{
padding:80px;
background:white;
margin-top:20px;
}



.section-title{
text-align:center;
font-size:36px;
margin-bottom:40px;
}



.skills-grid{
display:flex;
justify-content:center;
flex-wrap:wrap;
gap:20px;
}



.skill-card{
background:#6c63ff;
color:white;
padding:15px 25px;
border-radius:8px;
}



.projects-grid{
display:flex;
justify-content:center;
gap:30px;
flex-wrap:wrap;
}



.project-card{
background:#f3f3f3;
padding:20px;
width:260px;
border-radius:10px;
transition:0.3s;
}

.project-card:hover{
transform:translateY(-10px);
}



.project-card img{
width:100%;
}



.card-grid{
display:flex;
justify-content:center;
gap:20px;
flex-wrap:wrap;
}



.info-card{
background:#6c63ff;
color:white;
padding:20px;
border-radius:10px;
width:250px;
transition:0.3s;
}

.info-card:hover{
transform:translateY(-8px);
}



.reach{
text-align:center;
}



.reach-text{
font-size:18px;
color:#555;
}



.center{
justify-content:center;
display:flex;
}



.footer{
background:#6c63ff;
color:white;
text-align:center;
padding:20px;
margin-top:20px;
}



@media(max-width:900px){

.hero{
flex-direction:column;
text-align:center;
}

.hero-right img{
width:100%;
margin-top:40px;
}

.header{
padding:20px;
}

.section{
padding:40px;
}

}